* text=auto
*.cs text eol=lf
*.zig text eol=lf
*.zig.zon text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.slnx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.asmdef text eol=lf
*.uss text eol=lf
*.tss text eol=lf
*.powerasset binary
*.dll binary
*.pdb binary
